<div class="container" id="Proyectos">
    <h1>Proyectos
        <button type="button" class="btn btn-success" id="button" (click)="newProy()" *ngIf="isLogged"><i class="bi bi-plus-circle"></i></button>
        <button type="button" class="btn btn-success" id="button" (click)="proyEd()" *ngIf="isLogged&&!proyActivo" ><i class="bi bi-pencil"></i></button>
        <button type="button" class="btn btn-success" id="button" (click)="proyEd()" *ngIf="isLogged&&proyActivo"><i class="bi bi-pencil-fill"></i></button>
    </h1>
    <div class="row" *ngFor="let proyecto of proyectoList" id="contenido">
        <div class="12">
            <button type="button" class="btn btn-success" id="button" (click)="delProy(proyecto.id)" *ngIf="isLogged"><i class="bi bi-x-circle"></i></button>
            <h2>{{proyecto.nombreProyecto}}({{proyecto.inicio}}-{{proyecto.fin}})</h2>
            <p *ngIf="proyActivo">Nombre del proyecto: <input type="text" name="Dominio" [(ngModel)]="proyecto.nombreProyecto"></p>
            <p *ngIf="proyActivo">Año de inicio: <input type="text" name="Dominio" [(ngModel)]="proyecto.inicio"> Año de fin: <input type="text" name="Dominio" [(ngModel)]="proyecto.fin"></p>
        </div>
        <div class="12">
            <p>{{proyecto.descripcion}}</p>
            <p *ngIf="proyActivo">Descripcion del proyecto: <input type="text" name="Dominio" [(ngModel)]="proyecto.descripcion"></p>
            <a href={{proyecto.urlProyecto}}><i class="bi bi-link"></i></a>
            <p *ngIf="proyActivo">Link del proyecto: <input type="text" name="Dominio" [(ngModel)]="proyecto.urlProyecto"></p>
            <p></p>
        </div>
    </div>
</div>